@use '../settings/' as *;

.light-theme {
  background-color: map-get($light-theme, background);
  color: map-get($light-theme, text-color);
}

.dark-theme {
  background-color: map-get($dark-theme, background);
  color: map-get($dark-theme, text-color);
}
.u-bg-primary {
  background-color: $bleu-light-500;
}

.u-primary-text {
  color: $white;
}

.u-secondary-text {
  color: $white;
}

.u-medium-grey-text {
  color: $white;
}
